/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

mysql
minio
.DS_Store
public/**/*.js
public/**/*.css
public/*.css
public/*.js
dist/*.js
storage/mysql
storage/minio
.vscode/settings.json
public/fonts/*
storage/postcsv/KEN_ALL_utf8.CSV
.vscode
.idea
public/css/app.css
public/mix-manifest.json
public/js/app.js
public/csv/*
storage/salesforce/files/*
storage/payment_json_file/*
